<!DOCTYPE html>
<html>
<head>
    <title>Dashboard / Notes</title>
    <link rel="stylesheet" href="/resource/css/notes.css" />
    <script type="text/javascript" src="/resource/js/ext/require.js"></script>
</head>
<body>
<script src="/resource/js/rconfig.js"></script>
</body>
</html>