body {
    background-color: #fff;
    padding-top: 100px;
}

.form-container {
    padding: 15px;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}