<!DOCTYPE html>
<html>
    <head>
        <title>500 Internal Server Error</title>
        <link href="/resource/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container text-center">
            <h2 class="text-danger">500 Internal Server Error</h2>
        </div>
    </body>
</html>